*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}

.search-box {
    position: absolute;
    width: 350px;
    background: #fff;
    margin: 30px 20px;
    border-radius: 10px;
}

.search-box button {
    border: none; 
    padding: 15px 20px; 
    font-size: 14px; 
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input{
    flex:1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

.result-box ul{
    border-top: 1px;
    padding: 15px 10px;
}

.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover{
    background: #e9f3ff;
}